.footer {
  position: fixed;
  height: 3.5rem;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #8d8d8d;
  text-wrap: wrap;
  text-align: center;
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    gap: 0;
  }
}
